<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Level</title>
    <script th:replace="commons/templates::.imports"></script>
</head>
<body>
    <div th:replace="commons/templates::topbar"></div>
    <div class="container-fluid" style="margin-top: 175px;">
        <div class="row">
            <div th:replace="commons/templates::sidebar"></div>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1>[[${level}]]</h1>
            </main>
        </div>
    </div>
</body>
</html>